CHAIN_RPC=
CHAIN_ID=
TRADE_ROUTER=
ADMIN_ADDRESS=
TX_CONFIRM_SECRET=
BACKEND_URL=
FLUTTERWAVE_SECRET_KEY=
REDIS_URL=
MIN_GAS_BNB=
MIN_FLW_NGN=
ALERT_WEBHOOK=
POLL_INTERVAL_MS=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
